{{debug}}

{{#mainData}}
<tbody>
  <tr>
    <td
      align="center"
      style="font-family:Helvetica,sans-serif;"
    >
      <!-- ******************************** -->
      <!-- ********** LOGO ********** -->
      <!-- ******************************** -->
      <a
        href="{{logo_link}}"
        style="text-decoration:none;color:#cccccc;"
        ><img
          src="http://localhost:4000/piano_digest_logo.png"
          width="210"
          alt="crunchbase"
          style="width:100%;max-width:210px;border-width:0;height:auto;display:block;"
          class="align-center"
      /></a>
    </td>
  </tr>
</tbody>
{{/mainData}}
