{{#data}}
<tbody>
  <tr>
    <td align="center">
      <table
        class="recentlyAddedRow"
        cellpadding="0"
        cellspacing="0"
        border="0"
        width="100%"
        align="center"
      >
        <tbody>
          <tr>
            <td style="padding:0px 0px 15px 0px;">
              <table
                cellpadding="0"
                cellspacing="0"
                border="0"
                width="100%"
              >
                <tbody>
                  <tr>
                    <td class="recAddedTd">
                      <a href="https://tonebase.co/artists/{{artist_slug}}" target="_blank">
                        <img
                          alt="{{artist_slug}}"
                          src="https://tonebase-nightingale.s3.us-east-2.amazonaws.com/images/artists/cards/lg/{{artist_slug}}.jpg"
                          width="100%"
                          border="0"
                          style="display:block;color:#ffffff;font-family: Helvetica, Arial, sans-serif;-webkit-text-size-adjust: none;"
                        />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table
                cellpadding="0"
                cellspacing="0"
                border="0"
                width="83%"
                align="center"
              >
                <tbody>
                  <tr>
                    <td
                      class=""
                      align="center"
                      style="color:#FFFFFF;text-transform: uppercase; letter-spacing: 0.032em;font-family:Oswald,Helvetica, Arial, sans-serif;-webkit-text-size-adjust: none;font-size:22px;line-height:28px;font-weight:normal;padding:15px 0px 5px 0px;text-transform:uppercase;"
                    >
                      MEET YOUR NEW INSTRUCTOR
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="syn"
                      align="center"
                      style="color:#ccc;font-family:Helvetica, Arial, sans-serif;-webkit-text-size-adjust:none;font-size:16px;line-height:28px;font-weight:normal;padding:5px 0px 20px 0px;"
                      id="artist_one_liner_dyna"
                    >
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
{{/data}}
