{{debug}}
{{#mainData}}
<td>
  <table
    class="section-footer"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
  >
    <tbody>
      <tr>
        <td
          align="center"
          valign="top"
          id="templateFooter"
          style="mso-line-height-rule: exactly;border-top: 0;border-bottom: 0;padding-top: 20px;padding-bottom: 20px;"
        >
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="templateContainer"
            style="max-width: 600px !important;"
          >
            <tbody>
              <tr>
                <td valign="top" class="footerContainer">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    width="100%"
                  >
                    <tbody>
                      <tr>
                        <td
                          valign="top"
                          style="padding-top: 9px;"
                        >
                          <table
                            align="left"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            style="max-width: 600px;border-collapse: collapse;"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td
                                  valign="top inner"
                                  style="font-size: 16px;font-style: normal;font-weight: normal;line-height: 150%; color: #cccccc;font-family: Helvetica;text-align: center;padding-left:30px;padding-right:30px;"
                                >
                                  <div
                                    class="mktEditable"
                                    id="footer"
                                    style="text-align:left;"
                                  >
                                    <img
                                      height="60"
                                      src="https://tonebase-emails.s3.amazonaws.com/assets/logomark.png"
                                      style="border: 0px initial;width: 60px;height: 60px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                      width="60"
                                    />
                                    <br />
                                    {{#if isPiano}}
                                      <p>
                                        This is the Piano
                                        Digest from
                                        tonebase. <br />
                                        <br />
                                        <span
                                          style="color:#999999"
                                        >
                                          From the team that
                                          brought you the
                                          world's largest
                                          classical guitar
                                          learning platform,
                                          tonebase Piano is
                                          a new platform
                                          designed for piano
                                          enthusiasts around
                                          the world. <br />
                                          <br />
                                          Watch
                                          world-renowned
                                          concert pianists
                                          and conservatory
                                          professors deliver
                                          intimate tutorials
                                          directly to you.
                                          Our artist roster
                                          includes
                                          international
                                          competition
                                          winners and
                                          award-winning
                                          pedagogues
                                          including John
                                          O'Conor, Garrick
                                          Ohlsson, Simone
                                          Dinnerstein, Arie
                                          Vardi, and many
                                          more!
                                        </span>
                                      </p>
                                    {{else}}
                                      <p>
                                        This is the Guitar
                                        Digest from
                                        tonebase. <br />
                                      </p>
                                    {{/if}}
                                  </div>
                                  <br />
                                  <br />
                                  <br />
                                  <div
                                    class="mktEditable"
                                    id="address"
                                    style="text-align: left;"
                                  >
                                    <p>
                                      527 W 7th St., Los
                                      Angeles, CA, 90014
                                    </p>
                                    <p>
                                      © 2019 Tonebase,
                                      Inc. All rights
                                      reserved <br />
                                      <a
                                        href="https://tonebase.co/app/privacy"
                                        target="_blank"
                                        title="Privacy Policy"
                                        style="font-weight: normal; text-decoration: underline; color: #e14f3d;"
                                        >Privacy Policy</a
                                      >
                                    </p>
                                    <p
                                      style="color: #777777"
                                    >
                                      <small
                                        ><a
                                          href="[UNSUBSCRIBE]"
                                          style="color: #555555; font-weight: normal; text-decoration: none;"
                                          >Unsubscribe</a
                                        >
                                        from tonebase
                                        {{#if isPiano}}
                                          <span> Piano</span>
                                        {{else}}
                                          <span> Guitar</span>
                                        {{/if}}
                                        </small
                                      >
                                    </p>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
{{/mainData}}
