<a
  href="https://tonebase.co"
  target="_blank"
  style="text-decoration: none;"
>
  <img
    alt="tonebase"
    src="https://s3.amazonaws.com/tonebase-emails/recommendations/assets/tonebase_header_logo.png"
    width="300"
    border="0"
    style="display:block;color:#ffffff;font-family: Helvetica, Arial, sans-serif;-webkit-text-size-adjust:none;font-size:24px;"
    data-mc-image-bytes="13760"
    data-mc-width="187"
    data-mc-height="64"
    data-mc-natural-width="592"
    data-mc-natural-height="204"
  />
</a>
