{{#data}}
<a
  href="https://tonebase.co/lessons/player/{{slug}}"
  target="_blank"
  style="text-decoration:none;"
>
  <img
    alt="{{title}}"
    src="https://tonebase-nightingale.s3.us-east-2.amazonaws.com/images/lessons/cards/lg/{{slug}}.jpg"
    width="600"
    border="0"
    style="display:block;color:rgb(255, 255, 255);font-family:Helvetica, Arial, sans-serif;-webkit-text-size-adjust:none;font-size:24px;"
    data-mc-image-bytes="295009"
    data-mc-width="375"
    data-mc-height="211"
    data-mc-natural-width="1280"
    data-mc-natural-height="720"
  />
</a>
{{/data}}
