{{debug}}
{{#data}}
{{#if showHTML}}
<script>
  function addQueryString() {
    var querystring = "utm_source=tmpemail&utm_medium=email&utm_campaign=new_lesson_email&utm_term=new-lesson&utm_content={{slug}}";

    $('a').each(function() {
      var href = $(this).attr('href');
      if (href) {
        href += (href.match(/\?/) ? '&' : '?') + querystring;
        $(this).attr('href', href);
      }
    });
  }

  function stripScripts() {
    // Remove scripts
    $("#scripts").remove();

    var headHTML = $("#coreHead").html();
    $("#coreHead").remove();

    var bodyHTML = $("body").html();

    $("html").empty();

    var newHead = document.createElement("head");
    $(newHead).append(headHTML);
    $("html").append(newHead);

    var newBody = document.createElement("body");
    $(newBody).append(bodyHTML);
    $("html").append(newBody);
  }

  setTimeout(function() {
    addQueryString();
    stripScripts();

    setTimeout(function() {
      var newWindow = window.open();
      newWindow.document.open();
      newWindow.document.write(
        `<body>
          &lt;html&gt;
          ${$("html")
            .html()
            .toString()
            .replace(
              /&/g,
              "&amp;"
            )
            .replace(/</g, "&lt;")
            .replace(
              />/g,
              "&gt;"
            )}
          &lt;/html&gt;
        </body>`
      );
      newWindow.document.close();
    }, 500);
  }, 5000);
</script>
{{/if}}
{{/data}}
